body {
    margin: 0;
    font-family: Nunito Sans, Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: #131313;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.header-content {
    text-transform: uppercase;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: white;
    background-color: #E3B873;
    border: none;
    padding: 13px 33px;
    cursor: pointer;
    font-style: oblique;
    font-family: Nunito Sans, Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
}

.special {
    color: white;
    background-color: rgba(28,28,28,0);
    border: 1px solid;
    padding: 13px 33px;
    cursor: pointer;
    font-style: oblique;
    font-family: Nunito Sans, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    margin-left: 20px;
}

.tel {
    color: #E3B873;
    margin-right: 45px;
}

.logo {
    color: #E3B873;
}

.navlist-item {
    list-style-type: none;
    margin-right: 47px;
}

.navlist-item a {
    color: white;
    text-decoration: none;
}

.navlist-item a:hover {
    color: #E3B873;
    transition: 2.5s;
}

.navlist {
    display: flex;
}

.first {
    background-image: url('../images/firstfon.jpg');
    background-size: contain;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.first-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .7);
}

.first-content {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: white;
}

.seclist {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    display: flex;
    margin: 0;
    padding: 107px 190px 52px 492px;
}

.seclist-item {
    list-style-type: none;
    margin-right: 60px;
}

.seclist-item a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.seclist-item a:hover {
    color: #E3B873;
    transition: 2.5s;
    text-decoration: underline;
}

.second {
    background-color: rgba(19, 19, 19, 1);
    height: 1074px;
}

.sectitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.sectext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.containerinfo {
    display: flex;
}

.titleinfo {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.textinfo {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.secmain {
    display: flex;
}

.secimg {
    margin-left: 55px;
}

.third {
    margin-top: -324px;
}

.camera {
    display: flex;
    justify-content: center;
}

.titlethird {
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.camerasvg {
    margin: 0 10px;
}

.onlinecontrol {
    margin: 30px auto;
    display: block;
}

.play {
    position: absolute;
    top: 1825px;
    left: 45%;
    z-index: 1;
}

hr {
    width: 55px;
    height: 3px;
    border-radius: 5px;
    background-color: #E3B873;
    border-color: #E3B873;
}

.thirdtext {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
}

.video-overlay {
    content: '';
    width: 817px;
    height: 434px;
    position: absolute;
    top: 1667px;
    left: 23.1%;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .7);
}